*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color:#F9C22E;
}
header{
    background-color: #0C090D;
    /* width: 100%; */
    height: 30vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items:center;
    justify-content: space-between;
    padding-left: 400px;
    padding-right: 400px;
    height: 10%;
}
.nav_a{
    font-size: 14px;
    color:#ffffff;
    white-space: nowrap;
}
.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #F9C22E;
    height: 90%;
}
h2 {
    font-size: 120px;
    color: #000000;
}
#addButton{
    background-color:#E01A4F;
    color: white;
    border: none;
    cursor: pointer; /* Устанавливаем курсор по умолчанию для кнопки */
    height: 40px;
    width: 96px;
    font-size: 14px;
    border-radius: 8px;
}
.div_input{
    padding: 200px;
}
main{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
}
a{
    text-decoration: none;
    color:#000000;
    font-size: 48px;
}
input{
    height: 40px;
    width: 300px;
    border: none;
}
.highlight {
    position: relative;
    display: inline-block;
    color: black; /* Цвет текста */
}

@media (max-width: 1600px) {
    header{
        height: 27vh;
    }
    .h1 {
        font-size: 100px;
    }
}
@media (max-width: 1400px) {
    header{
        height: 22vh;
    }
    .h1 {
        font-size: 80px;
    }
}
@media (max-width: 1100px) {
    header{
        height: 18vh;
    }
    .h1 {
        font-size: 60px;
    }
}