*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
header{
    
    background-color: #0C090D;
    
    height: 30vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items:center;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    height: 30px;
}
.logo{
    margin-right: 200px;
    font-size: 20px;
    color:#F9C22E;
}
.nav_a{
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    color:#ffffff;
}
.i_here{
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    color:#F9C22E;
}
.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    color: #F9C22E;
}
.div_input{
    padding: 200px;
}
.add_task_body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* justify-content: center; */
    background-color:#F9C22E;
}
.contaner{
    display: flex;
    justify-content: center;
    align-items:center;
}
.img_main{
    height: 900px;
}
.text{
    width: 400px;
    padding: 50px;
}
h3{
    font-size: 60px;
}
.tr1{
    background-color:#F15946;
    height: 50px;

}
.tr2{
    background-color:#0C090D;
    color:#ffffff;
    height: 50px;
}
a{
    text-decoration: none;
    color:#000000;
    font-size: 48px;
}
table{
    margin: 30px;
}
th{
    padding: 50px;
}
td {
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 100px;
}
button{
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer; /* Устанавливаем курсор по умолчанию для кнопки */
    height: 40px;
    width: 96px;
    font-size: 14px;
    border-radius: 8px;
    transition: 2s;
}
button:hover {
    /* color: pink; */
    background: #000000;
    color: #fff;
    /* text-decoration: underline; */
}
.body_error{
    height: 100vh;
    background-image: url(img/f3b574109526c3e18c1c04d4050d14ff.png);
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 1600px) {
    header{
        height: 27vh;
    }
    .h1 {
        font-size: 100px;
    }
}
@media (max-width: 1450px) {
    header{
        height: 22vh;
    }
    .h1 {
        font-size: 80px;
    }
}
@media (max-width: 1160px) {
    header{
        height: 18vh;
    }
    .h1 {
        font-size: 60px;
    }
}