*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
header{
    position: sticky;
    top:0;
    background-color: #0C090D;
    height: 30vh;
    width: 100vw;
}
ul{
    list-style-type: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 30px;
}
.nav_div{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 20%;
    padding-right: 20%;
}
.logo{
    white-space: nowrap;
    margin-right: 200px;
    font-size: 20px;
    color:#F9C22E;
}
.nav_a, .burger_nav_a{
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    color:#ffffff;
}
.i_here, .burger_i_here{
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    color:#F9C22E;
}


/* Бургер меню */
.burger{
    display: none;
    position: relative;
    right: 0;
    z-index: 50;
    align-items:center;
    width: 30px;
    height: 20px;
}
.burger_memu{
    background-color:#000000;
    /* width: 110px; */
    display: none;
    right: 0;
    margin-right: 20%;
    position: absolute;
    margin-top: 2vh;
    color:#ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    opacity: 0;
    transition: 0.3s;
}
.burger::before, .burger::after, .burger span{
    position: absolute;
    content: '';
    height: 2px;
    width: 80%;
    background-color:#ffffff;
    transition: all 0.3s ease 0s;
} 
.burger::before{ top: 0px }
.burger::after{ bottom: 0px }

#burger_toggle:checked ~ .burger::before{
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);;
    /* transform: rotate(-45deg); */
}
#burger_toggle:checked ~ .burger::after{
    bottom: 50%;
    transform: translate(0, 50%) rotate(45deg);
    /* transform: rotate(45deg); */
}
#burger_toggle:checked ~ .burger span{
    transform:  scale(0);
}
#burger_toggle:checked ~ .burger_memu{
    display: block;
    transform: translateY(0);
    opacity: 1;
}
#burger_toggle{ /* невидимый чекбокс */
    display: none;
}


#myDialog{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.h1 {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    color: #F9C22E;
}
.div_input{
    padding: 200px;
}
.add_task_body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
}
main{
    /* margin-top: 30px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* justify-content: center; */
    background-color:#F9C22E;
}
.contaner{
    margin-top: 100px;
    
    display: flex;
    justify-content: center;
    align-items:center;
}
.div_img_main{
    display: flex;
    justify-content: center;
}
.img_main{
    width: 40vw;
    height: auto;
    min-block-size: 350px;
    min-width: 350px;
}
.text{
    width: 400px;
    padding: 50px;
}
h3{
    font-size: 60px;
}
/* таблица */
.contaner_tasks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    margin-top: 100px;
    /* height: 100px; */
    /* width: 100%; */
}
.t1{
    display: flex;
    background-color:#F15946;
    height: 50px;
}
.t2{
    display: flex;
    background-color:#0C090D;
    color:#ffffff;
    height: 50px;
}
a{
    text-decoration: none;
    color:#000000;
    font-size: 48px;
}
.heading{
    /* padding: 50px; */
    text-align: center;
    vertical-align: middle;
    height: 20px;
    width: 200px;
    margin-right: 10px;
}
.task div {
    /* text-align: center; */
    align-items:center;
    justify-content: space-between;
    justify-content: center;
    vertical-align: middle;
    height: 50px;
    width: 200px;
    margin: 10px;
}
button{
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer; /* Устанавливаем курсор по умолчанию для кнопки */
    height: 40px;
    width: 96px;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.2s;
}
button:hover {
    /* color: pink; */
    background: #000000;
    color: #fff;
    /* text-decoration: underline; */
}
.body_error{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items:center
    /* background-image: url(img/f3b574109526c3e18c1c04d4050d14ff.png); */
    /* background-size: cover;
    background-repeat: no-repeat; */
}
.error{
    text-align: center;
    font-size: 200px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Скрываем по умолчанию */
}
@media (max-width: 1600px) {
    header{
        height: 27vh;
    }
    .h1 {
        font-size: 100px;
    }
}
@media (max-width: 1450px) {
    header{
        height: 22vh;
    }
    .h1 {
        font-size: 80px;
    }
}
@media (max-width: 1160px) {
    header{
        height: 18vh;
    }
    .h1 {
        font-size: 60px;
    }
}
@media (max-width: 992px) {
    .burger{
        display: flex;
    }
    .nav_a {
        display: none;
    }
    .i_here{
        display: none;
    }
    nav{
        padding-left: 10%;
        padding-right: 10%;
    }
    .logo{
        margin-right: 0px;
    }
    .h1{
        font-size: 40px;
    }

    .contaner{
        display: block;
    }
    .text{
        width: 400px;
        padding: 20px;
    }
}
@media (max-width: 576px) {
    header{
        height: 13vh;
    }
    .h1{
        display: block;
        font-size: 25px;
    }
    h3, h2, .add_task{
        font-size: 25px;
    }
    .text{
        font-size: 15px;
        width: 90%;
        padding: 20px;
    }
    td{
        width: 150px;
        font-size: 12px;
    }
    th{
        width: 150px;
    }
    button{
        width: 70px;
        height: 30px;
    }
    #openDialog{
        font-size: 40px;
    }
    .text{
        box-sizing: border-box;
        width: 100vw;
    }
}
@media (max-width: 376px) {
    header{
        height: 10vh;
    }
    .logo{
        font-size: 15px;
    }
    .nav_div{
        padding-left: 15%;
        padding-right: 15%;
    }
    .h1, h2, .add_task{
        display: block;
        font-size: 20px;
    }
    .img_main{
        width: 90vw;
        height: auto;
        min-block-size: 150px;
        min-width: 150px;
    }
    .burger_nav_a, .burger_i_here{
    font-size: 10px;
    }
    td p{
        margin-right: 2px;
    }
    td{
        font-size: 10px;
        height: 10px;
        width: 100px;
        margin: 5px;
        width: 100px;
    }
    th{
        font-size: 10px;
        width: 100px;
    }
    button{
        width: 50px;
        height: 20px;
        font-size: 12px;
    }
    #openDialog{
        font-size: 30px;
    }
}